mixin footer()
	+b.FOOTER.footer#footer
		.container-fluid 
			.row 
				.col-md-auto 
					+e.copyright Copyright posad.online<br> Все права защищены
				+e.col.col-md
					p Офис продаж: <br> 143180, МО, г. Звенигород,  пер Чайковского
					+e.tel(href="tel:+79254122585") тел.: +7  (925) 412 25 85
				.col-md-auto
					+e.dev Разработка сайта <br> 
						a(href='https://www.smartlab.ru'  target='_blank') smartlab.ru