
mixin modal() 
	//  start modals

	+b.modal-win(id="modal-call" class=" " style="display: none" )
		+form-wrap
			input(type="hidden" name="homeTitle")
			input(type="hidden" name="homePrice")
			input(type="hidden" name="homeNumb")
			input(type="hidden" name="type" value="ЗАПИСАТЬСЯ НА ПРОСМОТР")
			.text-center
				+e.title.ttu ЗАПИСАТЬСЯ НА ПРОСМОТР
			+input("Ваше Имя *")(required)
			+input("Телефон *",'tel')(required)
			+input("Почта *",'email')(required)
			+polite()
			.text-center
				+e.BUTTON.btn.btn.btn-outline-dark(type="submit")  Отправить

	+b.modal-win(id="modal-thanks" class=" " style="display: none" )
		+form-wrap
			.text-center
				+e.title.ttu Мы свяжемся с вами в ближайшее время

	// #modal-call
	
	// end modals