mixin sPlaning(data)
	// start sPlaning
	+b.SECTION.sPlaning.section#sPlaning&attributes(attributes)
		.container
			+b.section-title
				h2 Планировки таунхаусов
				+e.nav
					.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
						+pic('arrow-left')
					.swiper-pagination
					.swiper-button-hand.swiper-button-hand-next.swiper-button-next
						+pic('arrow-right')
					
			+e.slider--js.swiper-container
				.swiper-wrapper
					+e.slide.swiper-slide
						h4 Таунхаус N&nbsp;15 188&nbsp;м2
						+e.imgWrap--sm(href='img/@2x/table-1.jpg'  data-fancybox="plan")
							+pic('table-1.jpg')
						+e.imgWrap--sm(href='img/@2x/table-2.jpg'  data-fancybox="plan")
							+pic('table-2.jpg')
					+e.slide.swiper-slide
						+e.imgWrap(href='img/@2x/plan-1.jpg' data-fancybox="plan")
							+pic('plan-1.jpg')
						+e.floor этаж 1
					+e.slide.swiper-slide
						+e.imgWrap(href='img/@2x/plan-2.jpg' data-fancybox="plan")
							+pic('plan-2.jpg')
						+e.floor этаж 2
			+e.btnWrap
				+e.btn.link-modal(href="#modal-call") Записаться на просмотр 

	// end sPlaning