mixin sPlaning(data)
	// start sPlaning
	+b.SECTION.sPlaning.section#sPlaning&attributes(attributes)
		.container
			+b.section-title
				h2 Планировки таунхаусов
				+e.nav
					.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
						+pic('arrow-left')
					.swiper-pagination
					.swiper-button-hand.swiper-button-hand-next.swiper-button-next
						+pic('arrow-right')
					
			+e.slider--js.swiper-container
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.imgWrap(href='img/@2x/planing.png' data-fancybox="plan")
							+pic('planing.png')
						+e.btnWrap
							+e.btn.link-modal(href="#modal-call" data-title="таунхаус") Записаться на просмотр 
					+e.slide.swiper-slide
						+e.imgWrap(href='img/@2x/planing.png' data-fancybox="plan")
							+pic('planing.png')
						+e.btnWrap
							+e.btn.link-modal(href="#modal-call" data-title="таунхаус") Записаться на просмотр 
					+e.slide.swiper-slide
						+e.imgWrap(href='img/@2x/planing.png' data-fancybox="plan")
							+pic('planing.png')
						+e.btnWrap
							+e.btn.link-modal(href="#modal-call" data-title="таунхаус") Записаться на просмотр 

	// end sPlaning