mixin sPlaning(data)
	// start sPlaning
	+b.SECTION.sPlaning.section#sPlaning&attributes(attributes)
		.container
			+b.section-title
				h2 Планировки таунхаусов
				+e.nav
					.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
						+pic('arrow-left')
					.swiper-pagination
					.swiper-button-hand.swiper-button-hand-next.swiper-button-next
						+pic('arrow-right')
					
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin item(i)
						+e.slide.swiper-slide
							+e.imgWrap(href=`img/@2x/${i}` data-fancybox="plan")
								+pic(`${i}`)
							+e.btnWrap
								+e.btn.link-modal(href="#modal-call" data-main-title="Записаться на просмотр") Записаться на просмотр 
					//- +item("planing.png")
					+item("a.png")
					+item("b.png")
					+item("d.png")
					+item("e.png")
					+item("g.png")
					+item("v.png")
					+item("zh.png")
				 
	// end sPlaning