mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container
		
			.row
				.col-lg-5 
					+b.section-title
						h2 расположение посЁлка
					p &laquo;Звенигородский посад&raquo; расположен в&nbsp;45&nbsp;км от&nbsp;МКАД по&nbsp;скоростным Новорижскому или Красногорскому шоссе.
					p Дорога до&nbsp;посёлка займет на&nbsp;более 45&nbsp;минут. Так&nbsp;же возможен проезд на&nbsp;автобусе 881К от&nbsp;метро Строгино.
					strong КоОрдинаты для навигатора:
					p 55.71685187858651
					p 36.836304400254114
					+e.btn(href="yandexnavi://build_route_on_map?lat_to=55.71685187858651&lon_to=36.836304400254114") Проложить маршрут
				.col-lg-6
					+e.map
						<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс.Карты</a><a href="https://yandex.ru/maps/?from=api-maps&ll=37.090039%2C55.749118&mode=routes&origin=jsapi_2_1_74&rtext=55.791125%2C37.366650~55.716852%2C36.836304&rtt=auto&ruri=~&utm_medium=mapframe&utm_source=maps&z=11.8" style="color:#eee;font-size:12px;position:absolute;top:14px;">коттеджный посёлок Акатово-Парк: как доехать на автомобиле, общественным транспортом или пешком – Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUUeWT3tA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
	// end sMap