mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container

			.row
				.col-lg-5 
					+b.section-title
						h2 расположение посЁлка
					p &laquo;Звенигородский посад&raquo; расположен в&nbsp;45&nbsp;км от&nbsp;МКАД по&nbsp;скоростным Новорижскому или Красногорскому шоссе.
					p Дорога до&nbsp;посёлка займет на&nbsp;более 45&nbsp;минут. Так&nbsp;же возможен проезд на&nbsp;автобусе 881К от&nbsp;метро Строгино.
					strong КоОрдинаты для навигатора:
					p 55.71685187858651
					p 36.836304400254114
					+e.btn(href="yandexnavi://build_route_on_map?lat_to=55.71685187858651&lon_to=36.836304400254114") Проложить маршрут
				.col-lg-6
					+e.map

	// end sMap