// start .sBy
.sBy {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	padding-top: calc(var(--sPT) / 1.2);
	padding-bottom: calc(var(--sPB) * 1.21);

	.section-title {
		padding-bottom: calc(var(--sTPB) / 2.5);
	}

	&__tableWrap {
		margin-bottom: rem(83);
	}

	table {
		width: 100%;
		position: relative;

		@include media-breakpoint-up(sm) {
			font-size: $xsmall;
		}
		@include media-breakpoint-up(xl) {
			margin-left: rem(-26);
		}

		thead {
			@include media-breakpoint-down(sm) {
				display: none;
			}
			color: #c7c7c7;
			td {
				padding-bottom: rem(10);
				&:nth-child(1) {
					padding-left: rem(26);
				}
			}
		}
	}

	tbody {
		strong {
			display: block;
		}

		td {
			@include media-breakpoint-down(sm) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: rem(5) rem(10);
				text-align: right;
				border-bottom: 1px solid #b6b6b6;
				&::before {

					content: attr(data-title);
				}
			}
		}

		tr {

			@include media-breakpoint-down(sm) {
				display: block;
			}
			
			&:nth-child(even) {
				position: relative;
				background-color: #f1f1f1;
			}
		}
	}



	&__btnWrap {
		text-align: center;
		padding-top: rem(20);
		@include media-breakpoint-up(lg) {
			padding-top: rem(40);
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-dark;
		@include media-breakpoint-up(lg) {
			width: rem(290);
		}
	}

	p {
		margin-bottom: rem(22);
		line-height: 1.35;
		@include media-breakpoint-up(lg) {
			max-width: rem(436);
		}
	}
	

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBy