mixin allcss()
	
	//- link(rel="stylesheet", href="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.css")

	link(href="libs/@fancyapps/fancybox/jquery.fancybox.min.css", rel="stylesheet")
	link(href="libs/swiper/css/swiper.min.css", rel="stylesheet") 
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs()
	//- script(src="js/libs.js")

	//- script(src="libs/loading-attribute-polyfill/loading-attribute-polyfill.min.js")

	// modal libs
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/fancybox/jquery.fancybox.min.js")
	// modal libs
	// slider libs
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
	script(src="libs/swiper/js/swiper.min.js") 
	// /slider libs
	script(type='text/javascript').
		(function(w,d,n,c){w.CalltouchDataObject=n;w[n]=function(){w[n]["callbacks"].push(arguments)};if(!w[n]["callbacks"]){w[n]["callbacks"]=[]}w[n]["loaded"]=false;if(typeof c!=="object"){c=[c]}w[n]["counters"]=c;for(var i=0;i<c.length;i+=1){p(c[i])}function p(cId){var a=d.getElementsByTagName("script")[0],s=d.createElement("script"),i=function(){a.parentNode.insertBefore(s,a)};s.type="text/javascript";s.async=true;s.src="https://mod.calltouch.ru/init.js?id="+cId;if(w.opera=="[object Opera]"){d.addEventListener("DOMContentLoaded",i,false)}else{i()}}})(window,document,"ct","8rk565fi");

	script(src="libs/inputmask/inputmask.min.js")
	script(src="js/common.js")
	//- cut text libs
	//- script(src="libs/jquery.morelines.min.js")

	//- script(src="libs/Easy-Responsive-Tab-Accordion-Control-Plugin-For-jQuery/easy-responsive-tabs.js")
	//- custom input range libs
	//- script(src="libs/ion.rangeSlider-2.2.0/js/ion-rangeSlider/ion.rangeSlider.js")
	//- /custom input range libs

	//- mask for  input  libs
	//- / mask for  input  libs